
<div class="container">

    <app-navbar></app-navbar>

    <div class="row">
        <div class="col-md-8">
            <div class="main-div card container-fluid">
                <div class="card-body">
                    <h3 class="title">My Assessment</h3>
                    <div class="int-list-div">
                        <ng-container *ngIf="assessmentList && assessmentList.length > 0">
                            <ul class="list-group list-group-flush int-list">
                                <li class="list-group-item" *ngFor="let obj of assessmentList; let i = index"
                                style="background: black; color: white;"
                                [routerLink]="['/assessment/start/', obj.id]" routerLinkActive="router-link-active">
                                    {{ obj.name || 'NA' }}
                                </li>
                            </ul>
                        </ng-container>
            
                        <ng-container *ngIf="assessmentList && assessmentList.length === 0">
                            <p class="no-assessment">Add assessment by clicking on Add New button!</p>
                        </ng-container>
                    </div>
                    <div class="add-btn-div">
                        <button *ngIf="assessmentList && assessmentList.length === 0" class="btn btn-dark add-btn"  data-toggle="modal" data-target="#addAssessmentModal">ADD NEW</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="main-div card container-fluid" style="width: 380px;">
                <div class="card-body">
                    <h3 class="title-cbc">CBCHealth News</h3>
                    <small>Latest tweets by CBCHealth</small>
                    <div class="mt-2" *ngIf="tweetList">
                        <ul class="list-group list-group-flush tweet-list">
                            <li *ngFor="let tweet of tweetList; let i = index" class="list-group-item tweet-item">
                                {{ tweet.text }} 
                                <footer style="font-size: 10px; float: right;">{{ tweet.created_at | date :'medium' }}</footer>
                                <footer style="font-size: 12px; float: left;"><b>Tone</b>: {{ tweet.tone || 'NA' }}</footer>
                            </li>
                          </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- Modal -->
<div class="modal fade" id="addAssessmentModal" tabindex="-1" data-backdrop="static" data-keyboard="false"
    aria-labelledby="addAssessmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAssessmentModalLabel">New Assessment</h5>
            </div>
            <div class="modal-body">
                <form [formGroup]="newAssessmentForm" *ngIf="newAssessmentForm">
                    <div class="row">
                        <div class="col-md-12" style="padding: 0 40px 10px 40px;">
                            Name:
                            <input class="form-control" formControlName="name" type="text"
                                placeholder="name of the Assessment" pattern="^\S*$">
                        </div>
                        <div class="col-md-12 mt-3" style="padding: 0 40px 30px 40px;">
                            Days:
                            <input class="form-control" formControlName="days" type="number"
                                placeholder="number of days for the Assessment" pattern="^\S*$">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm modal-btn" (click)="closeModal()"
                    data-dismiss="modal" #closeModalBtn>Close</button>
                <button type="button" [disabled]="loading || newAssessmentForm.invalid" class="btn btn-primary btn-sm modal-btn" (click)="addNew()">Save</button>
            </div>
        </div>
    </div>
</div>