.main-div{
    max-width: 650px;
    margin: 150px auto auto auto;
    border-radius: 10px;
    // width: 87.5%;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.4);
}

.title{
    font-weight: 600;
    // margin: 10px auto 30px 50px;
    margin: 10px 0 30px 0;
    text-align: center;
}

.title-cbc{
    font-weight: 600;
    // margin: 10px auto 30px 50px;
    margin: 10px 0 0 0;
    // text-align: center;
}

.int-list-div{
    // margin: auto 50px auto 50px;
    margin: 0 0 0 0;
    max-height: 200px;
    overflow: auto;
}

.list-group-item{
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
}

.add-btn-div{
    margin: 20px auto 20px auto;
    text-align: center;
}

.add-btn{
    background-color: black;
    padding: 8px 15px 8px 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 5px;
}

.int-list :hover{
    background-color: whitesmoke;
    cursor: pointer;
}

p.no-assessment{
    margin-bottom: 0;
    text-align: center;
    font-weight: 500;
}

.modal-btn {
    border-radius: 5px;
    background-color: black;
    font-weight: 500;
}

ul.tweet-list{
    overflow: auto;
    max-height: 350px !important;
}

li.tweet-item{
    font-weight: 500 !important;
    text-align: initial !important; 
    font-size: 14px !important; 
    padding: 5px !important;
}