<app-navbar></app-navbar>
<div class="limiter mt-4">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(../../assets/img/bg-01.jpg);">
                <span class="login100-form-title-1">
                    Log In
                </span>
            </div>

            <form [formGroup]="loginForm" *ngIf="loginForm" class="login100-form validate-form">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Email is required">
                    <span class="label-input100">Email</span>
                    <input formControlName="email" class="input100" type="email" name="email" placeholder="Enter your email">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input100">Password</span>
                    <input formControlName="password" class="input100" type="password" name="pass" placeholder="Enter password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30 mt-3">
                    <div>
                        <a [routerLink]="['/signup']" routerLinkActive="router-link-active" class="txt1">
                            New User? Sign Up.
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn mt-1">
                    <button  [disabled]="submitted || loginForm.invalid" class="btn btn-success login100-form-btn"
                    (click)="login()">
                        Login
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
