<div class="container">
    <app-navbar></app-navbar>

    <div class="main-div card container-fluid">
        <div class="card-body">
    
            <div class="text-center" *ngIf="!currentQue">
                <div>
                    <p class="mt-5 mb-5" style="font-weight: 500;">No Questions remaining for today.</p>
                </div>
                <button class="btn btn-dark add-btn mt-3" (click)="goToAssessmentList()">BACK</button>
            </div>
            
            <ng-container *ngIf="currentQue">
                <!-- <h5 *ngIf="currentDayCount" class="text-center">Day {{ currentDayCount }} of {{ assessmentData.total_days }}</h5> -->
                <h4  class="title">Question {{ currentQueIndex + 1 }} of {{ queList.length }}</h4>
                
                <div class="que-div">
                    <p style="font-weight: 500;">{{ currentQue.que_text }}</p> 
                </div>
                
                <div class="mb-3 mt-0 select-div">
                    <select class="custom-select" [(ngModel)]="selectedAnswer" id="inputGroupSelect01" placeholder="select answer">
                      <option value="0">Select answer</option>
                      <option value="1">Yes</option>
                      <option value="2">No</option>
                    </select>
                </div>

                <div class="next-btn-div">
                    <!-- <button *ngIf="assessmentList && assessmentList.length === 0" class="btn btn-dark add-btn"  data-toggle="modal" data-target="#addAssessmentModal">ADD NEW</button> -->
                    <button *ngIf="!showFinish" [disabled]="selectedAnswer == 0" class="btn btn-dark add-btn" (click)="saveAnswer()">NEXT</button>
                    <button *ngIf="showFinish" [disabled]="selectedAnswer == 0" class="btn btn-dark add-btn" (click)="saveAnswer(true)">FINISH</button><br>
                </div>
                            
            </ng-container>
        </div>
    </div>
    <div class="mt-5" style="display: flex; justify-content: center;">
        <p *ngIf="currentQue && currentDayCount" class="text-center" style="font-weight: 400;">Day {{ currentDayCount }} of Assessment<br>
            {{ today | date :'mediumDate' }}
        </p>
        <p *ngIf="!currentQue" class="text-center" style="font-weight: 400;">
            {{ today | date :'mediumDate' }}
        </p>
        <!-- <p *ngIf="currentQue && currentDayCount" class="text-center" style="font-weight: 400;">{{ today | date :'medium' }}</p> -->
        <!-- <b style="float: right;">Question {{ currentQueIndex + 1 }} of {{ queList.length }}</b> -->
    </div>
    
</div>